<%= link_to(@post.title, target: "_blank") %><br/>
<small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small>

   <h1><%= @post.title %></h1>
  <%= button_to '+1', upvote_post_path(@post), method: :post %>
<!--   <button name="submit_param" value="submit_value" class="fa fa-sort-asc vote-button q-downvote-button" data-post-id="<%= @post.id%>"></button>
    <button name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button q-upvote-button" data-post-id="<%= @post.id%>"></button> -->
      <%= button_to '-1', downvote_post_path(@post), method: :post %>

  <h3><strong>post votes: <span id='post-vote-count'><%= @post.votes.sum(:value) %></span></strong></h3>
  <p><%= @post.body %></p>
<h3>Comments</h3>

<%= form_for [@post, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment" %>
<% end %>

<ul>
  <div class="accordion">
  	<%= render partial: "comments/comment", layout: false, collection: @post.comments %>
  </div>
</ul>